// @import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bulmaswatch/darkly/_variables.scss";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulmaswatch/darkly/_overrides.scss";


@import "./canvas";

body, html {
    // background-color: #232323;
    // color: hotpink;
    overflow: auto;
    height: 100vh;

}

.editable {
    &:focus {
        color: green;
        outline-color: red;
        outline-width: 1px;
        background-color: white;
        color: black;
    }
}


.document {
    display: flex;
    flex-wrap: wrap;
    .page {
        // border: 1px solid hotpink;
        padding: 10px;

    }
}

.test-container {
    background-color: red;
}

.zoomed {
    // zoom: 1.1;
    // background-color: green;
}

.entity {
    .attribute {

    }
}


.agrid {

  display: grid;
  grid-template-columns: 300px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;

  div {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
  }
}


.aentity {
   background-color: rgba(0,0,0,0.2);
   margin: 8px;
   padding: 8px;
}

.top-label {
    color: hotpink;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

.tree-browser {
    display: flex;
    align-items: flex-start;
 }

 .tree-browser2 {
    overflow-x: scroll;
 }

 .entity-card {
    margin: 5px;
    display: inline-block;
    max-width: 400px;

 }

 .hero {
    &.is-transparent {
        background-color: transparent;
    }
 }

 .attribute-value {
    padding: 5px;
 }

 .can-edit {
    .controls {
        display: none;

    }

    &:hover {
        .controls {
            display: block;
        }
    }
 }


.is-editing {
    padding: 10px;
    background-color: red;
}




/**
 * Marching ants border
 */

@keyframes ants { to { background-position: 100% 100% } }

.ants {
	padding: 1em;
	border: 1px solid transparent;
	background: linear-gradient(white, white) padding-box,
	            repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	animation: ants 12s linear infinite;

	max-width: 20em;
	font: 100%/1.6 Baskerville, Palatino, serif;
}