@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/react-pdf/dist/Page/AnnotationLayer";

@import "./canvas";

body {

}


.document {
    display: flex;
    flex-wrap: wrap;
    .page {
        // border: 1px solid hotpink;
        padding: 10px;

    }
}

.test-container {
    background-color: red;
}

.zoomed {
    // zoom: 1.1;
    // background-color: green;
}

.pdf-selected {
    // background-color: green;
}

.page {
    position: relative;
    .node {
        position: absolute;
    }
}