@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./canvas";

body, html {
    background-color: #232323;
    color: hotpink;

}


.document {
    display: flex;
    flex-wrap: wrap;
    .page {
        // border: 1px solid hotpink;
        padding: 10px;

    }
}

.test-container {
    background-color: red;
}

.zoomed {
    // zoom: 1.1;
    // background-color: green;
}

.entity {
    .attribute {

    }
}